@import "../abstracts/variables";

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

html, body {
  height: 100%;
  font-family: $body-font;
}

#root {
  display:flex;
  flex-direction:column;
  position: relative;
  background-color: $white;
  min-width: 320px;
  margin: 0 auto;
}