@import "../abstracts/variables";

body {
  font-family: $body-font;
  font-weight: $fw-regular;
  line-height: $lh-body;
  font-size: $fz-body;

  @media #{$media-laptop} {

  }
}

h1, .title {
  font-size: $fz-header-1;
  font-weight: $fw-regular;
  line-height: $lh-header-1;
}

.subtitle {
  font-weight: $fw-semi-bold;

  &_type_grey {
    color: $grey-50;
  }
}

h2 {
  font-size: $fz-header-2;
  font-weight: $fw-bold;
}