@import "../abstracts/variables";

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 55px 0 100px;

  .block__title {
    margin-bottom: 50px;
  }

  .search-form {
    margin-bottom: 50px;
  }

  .cards-block__list {
    max-width: 100%;
  }
}