@import "../abstracts/variables";

.admin-page {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 55px 0 100px;

  &__container {
    display: flex;
    width: 100%;
  }

  .block__title {
    margin-bottom: 50px;
  }

  .search-form {
    margin-bottom: 50px;
  }

  .cards-block__list {
    max-width: 100%;
  }

  .gallery-products {
    margin-right: 40px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__paragraph {
    color: $grey-10;
    font-weight: $fw-semi-bold;
    margin-bottom: 24px;
    display: flex;

    &_type_last {
      margin-bottom: 67px;
    }
  }

  &__rating {
    margin-left: 10px;
    display: flex;
  }

  &__value {
    margin-left: 10px;
    color: $slate-gray;
  }

  &__id {
    display: block;
    font-weight: $fw-semi-bold;
    color: $grey-10;

    span {
      color: $slate-gray;
    }
  }

   &__editable-container {
     display: grid;
     grid-template-columns: 1fr 60%;
     align-items: center;
     margin-bottom: 24px;

     &:last-of-type {
       margin-bottom: 48px;
     }
   }

  &__label {
    color: $grey-10;
    font-weight: $fw-semi-bold;
    display: grid;
    grid-template-columns: 1fr 60%;
    align-items: center;
    margin-bottom: 24px;

    &:last-of-type {
      margin-bottom: 48px;
    }
  }

  &__input {
    height: 60px;
    border: none;
    background-color: $grey-200;
    padding: 19px 6px;
    border-radius: $br-normal;
    color: $slate-gray;
    font-weight: $fw-regular;

    &_type_readonly {
      background-color: transparent;
      font-weight: $fw-semi-bold;
    }
  }

  &__error {
    margin: 20px 0;
  }
}