@import "../abstracts/variables";

.button {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 67px;
  border: none;
  border-radius: $br-normal;
  cursor: pointer;

  &:hover {
    border: 2px solid $slate-gray;
  }

  &_type_primary {
    background: $deep-yellow-pink;
  }

  &_type_secondary {
    background: $slate-gray;

    &:hover {
      border-color: $pale-sand;
    }
  }

  &_type_tertiary {
    color: $slate-gray;
    background: transparent;
    border: 1px solid $slate-gray;
  }

  &_type_transparent {
    color: $slate-gray;
    background: transparent;
  }

  &_size_normal {
    width: 200px;
  }

  &_size_medium {
    width: 239px;
  }

  &_size_sm {
    width: 171px;
  }

  &_size_s {
    width: 148px;
    height: 50px;
  }

  &_size_xs {
    width: 100px;
    min-height: 27px;
  }
}