@import "../abstracts/variables";

.header {
  background: $rich-purple-blue;
  min-height: 55px;
  padding: 15px 0 9px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    min-height: 55px;
  }

  &_type_primary {
    .menu_type_secondary {
      display: none;
    }
  }

  &_type_secondary {
    .header__container {
      border-bottom: none;
    }

    .menu_type_primary {
      display: none;
    }
  }
}