@import "../abstracts/variables";

.about-block {
  padding: 0;
  width: 100%;


  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .block__flex-container {
    max-width: 50%;
  }

  &__img {
    height: 100%;
  }
}