@import "../abstracts/variables";

.checkbox-block {
  color: $slate-gray;
  display: flex;
  flex-direction: column;
  background: $beige;
  border-radius: $br-normal;
  padding: 40px 100px;

  .block__title {
    margin-bottom: 7px;
  }

  .block__title_type_secondary {
    margin-bottom: 33px;
  }

  .checkbox-list {
    margin-bottom: 40px;
  }
}