.team-block {
  width: 100%;
  padding: 60px 0 140px;
  position: relative;

  &__back {
    position: absolute;
    top: 0;
    right: 0;
    height: 550px;
    overflow: hidden;
  }

  .block__title {
    margin-bottom: 27px;
  }

  .container {
    position: relative;
    z-index: 2;
  }
}